In [1]:
import pandas as pd
df = pd.read_csv('ml crop final.csv')
df

,id,state,district,crop_year,season,crop_names,area,temp,wind_speed,preasure,humidity,soil,n,p,k,production,yield
0,125191,TamilNadu,Tirunelveli,1997,Autumn,Maize,1,20.770894,2.068260,1014.863796,21.947147,loamy,56.070,0.000,0.000,1113.0,1113.000000
1,125192,TamilNadu,Tirunelveli,1997,Kharif,Arhar/Tur,17600,20.160426,1.976480,1015.193528,20.643237,sandy,9.000,9.000,0.000,6300.0,0.357955
2,125193,TamilNadu,Tirunelveli,1997,Kharif,Bajra,274100,21.998299,2.000524,1014.184607,21.422312,clay,0.000,0.000,0.000,152800.0,0.557461
3,125194,TamilNadu,Tirunelveli,1997,Kharif,Gram,40800,21.776377,2.019750,1015.053118,21.810567,chalky,38.250,38.250,38.250,18600.0,0.455882
4,125195,TamilNadu,Tirunelveli,1997,Kharif,Jowar,900,20.075734,1.974351,1015.170238,21.930206,clay,0.000,23.184,0.000,1100.0,1.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,Tirupathur,2014,Rabi,Jowar,4000,21.635879,2.000060,1014.302213,20.060662,silty,7.840,7.840,0.000,3300.0,0.825000
12624,137815,TamilNadu,Tirupathur,2014,Rabi,Maize,1300,21.709611,2.053609,1015.803912,21.263478,silt,7.504,18.760,7.504,200.0,0.153846
12625,137816,TamilNadu,Tirupathur,2014,Rabi,Wheat,29100,21.851730,2.027476,1014.031903,20.059945,sandy,0.000,0.000,0.000,26800.0,0.920962
12626,137817,TamilNadu,Tirupathur,2014,Summer,Groundnut,9400,21.569380,2.004421,1013.989125,21.835158,chalky,2.896,3.620,0.000,11500.0,1.223404
12627,137818,TamilNadu,Tirupathur,2014,Whole Year,Sugarcane,8100,21.666723,2.008003,1015.081619,21.754799,loamy,3.150,0.000,0.000,553700.0,68.358025

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12628 entries, 0 to 12627
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0             id  12628 non-null  int64
 1   state         12628 non-null  object
 2   district      12628 non-null  object
 3   crop_year     12628 non-null  int64
 4   season        12628 non-null  object
 5   crop_names    12628 non-null  object
 6   area          12628 non-null  int64
 7   temp          12628 non-null  float64
 8   wind_speed    12628 non-null  float64
 9   preasure      12628 non-null  float64
 10  humidity      12628 non-null  float64
 11  soil          12628 non-null  object
 12  n             12628 non-null  float64
 13  p             12628 non-null  float64
 14  k             12628 non-null  float64
 15  production    12496 non-null  float64
 16  yield         12496 non-null  float64
dtypes: float64(9), int64(3), object(5)
memory usage: 1.6+ MB

In [3]:
df.describe()

,id,crop_year,area,temp,wind_speed,preasure,humidity,n,p,k,production,yield
count,12628.000000,12628.000000,12628.000000,12628.000000,12628.000000,12628.000000,12628.000000,12628.000000,12628.000000,12628.000000,1.249600e+04,12496.000000
mean,131504.500000,2005.230519,25515.223076,21.044789,2.039807,1014.500469,21.034199,63.363442,13.201296,6.217546,1.011236e+05,4.367613
std,3645.533934,5.047317,59098.998465,0.595742,0.040690,0.864770,0.592233,206.393215,23.815499,14.157439,7.303716e+05,29.786178
min,125191.000000,1997.000000,1.000000,20.020095,1.970008,1013.000384,20.020101,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,128347.750000,2001.000000,500.000000,20.522213,2.004332,1013.759452,20.528747,0.615000,0.000000,0.000000,3.000000e+02,0.410600
50%,131504.500000,2005.000000,3400.000000,21.048433,2.039834,1014.500865,21.027529,4.068000,3.760000,0.000000,2.600000e+03,0.687607
75%,134661.250000,2010.000000,23100.000000,21.558130,2.075369,1015.250785,21.540608,10.580000,15.870000,1.501000,2.160000e+04,1.226534
max,137818.000000,2014.000000,726300.000000,22.079859,2.109983,1015.999870,22.079981,928.372000,111.200000,55.600000,2.004970e+07,1494.000000

In [4]:
df=df.drop('yield',axis=1)
df

,id,state,district,crop_year,season,crop_names,area,temp,wind_speed,preasure,humidity,soil,n,p,k,production
0,125191,TamilNadu,Tirunelveli,1997,Autumn,Maize,1,20.770894,2.068260,1014.863796,21.947147,loamy,56.070,0.000,0.000,1113.0
1,125192,TamilNadu,Tirunelveli,1997,Kharif,Arhar/Tur,17600,20.160426,1.976480,1015.193528,20.643237,sandy,9.000,9.000,0.000,6300.0
2,125193,TamilNadu,Tirunelveli,1997,Kharif,Bajra,274100,21.998299,2.000524,1014.184607,21.422312,clay,0.000,0.000,0.000,152800.0
3,125194,TamilNadu,Tirunelveli,1997,Kharif,Gram,40800,21.776377,2.019750,1015.053118,21.810567,chalky,38.250,38.250,38.250,18600.0
4,125195,TamilNadu,Tirunelveli,1997,Kharif,Jowar,900,20.075734,1.974351,1015.170238,21.930206,clay,0.000,23.184,0.000,1100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,Tirupathur,2014,Rabi,Jowar,4000,21.635879,2.000060,1014.302213,20.060662,silty,7.840,7.840,0.000,3300.0
12624,137815,TamilNadu,Tirupathur,2014,Rabi,Maize,1300,21.709611,2.053609,1015.803912,21.263478,silt,7.504,18.760,7.504,200.0
12625,137816,TamilNadu,Tirupathur,2014,Rabi,Wheat,29100,21.851730,2.027476,1014.031903,20.059945,sandy,0.000,0.000,0.000,26800.0
12626,137817,TamilNadu,Tirupathur,2014,Summer,Groundnut,9400,21.569380,2.004421,1013.989125,21.835158,chalky,2.896,3.620,0.000,11500.0
12627,137818,TamilNadu,Tirupathur,2014,Whole Year,Sugarcane,8100,21.666723,2.008003,1015.081619,21.754799,loamy,3.150,0.000,0.000,553700.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12628 entries, 0 to 12627
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0             id  12628 non-null  int64
 1   state         12628 non-null  object
 2   district      12628 non-null  object
 3   crop_year     12628 non-null  int64
 4   season        12628 non-null  object
 5   crop_names    12628 non-null  object
 6   area          12628 non-null  int64
 7   temp          12628 non-null  float64
 8   wind_speed    12628 non-null  float64
 9   preasure      12628 non-null  float64
 10  humidity      12628 non-null  float64
 11  soil          12628 non-null  object
 12  n             12628 non-null  float64
 13  p             12628 non-null  float64
 14  k             12628 non-null  float64
 15  production    12496 non-null  float64
dtypes: float64(8), int64(3), object(5)
memory usage: 1.5+ MB

In [6]:
df

,id,state,district,crop_year,season,crop_names,area,temp,wind_speed,preasure,humidity,soil,n,p,k,production
0,125191,TamilNadu,Tirunelveli,1997,Autumn,Maize,1,20.770894,2.068260,1014.863796,21.947147,loamy,56.070,0.000,0.000,1113.0
1,125192,TamilNadu,Tirunelveli,1997,Kharif,Arhar/Tur,17600,20.160426,1.976480,1015.193528,20.643237,sandy,9.000,9.000,0.000,6300.0
2,125193,TamilNadu,Tirunelveli,1997,Kharif,Bajra,274100,21.998299,2.000524,1014.184607,21.422312,clay,0.000,0.000,0.000,152800.0
3,125194,TamilNadu,Tirunelveli,1997,Kharif,Gram,40800,21.776377,2.019750,1015.053118,21.810567,chalky,38.250,38.250,38.250,18600.0
4,125195,TamilNadu,Tirunelveli,1997,Kharif,Jowar,900,20.075734,1.974351,1015.170238,21.930206,clay,0.000,23.184,0.000,1100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,Tirupathur,2014,Rabi,Jowar,4000,21.635879,2.000060,1014.302213,20.060662,silty,7.840,7.840,0.000,3300.0
12624,137815,TamilNadu,Tirupathur,2014,Rabi,Maize,1300,21.709611,2.053609,1015.803912,21.263478,silt,7.504,18.760,7.504,200.0
12625,137816,TamilNadu,Tirupathur,2014,Rabi,Wheat,29100,21.851730,2.027476,1014.031903,20.059945,sandy,0.000,0.000,0.000,26800.0
12626,137817,TamilNadu,Tirupathur,2014,Summer,Groundnut,9400,21.569380,2.004421,1013.989125,21.835158,chalky,2.896,3.620,0.000,11500.0
12627,137818,TamilNadu,Tirupathur,2014,Whole Year,Sugarcane,8100,21.666723,2.008003,1015.081619,21.754799,loamy,3.150,0.000,0.000,553700.0

In [7]:
df.columns

Index(['          id', 'state', 'district', 'crop_year', 'season',
       'crop_names', 'area', 'temp', 'wind_speed', 'preasure', 'humidity',
       'soil ', 'n ', 'p', 'k', 'production'],
      dtype='object')

In [8]:
df = df[df['state'] == "TamilNadu"]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12628 entries, 0 to 12627
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0             id  12628 non-null  int64
 1   state         12628 non-null  object
 2   district      12628 non-null  object
 3   crop_year     12628 non-null  int64
 4   season        12628 non-null  object
 5   crop_names    12628 non-null  object
 6   area          12628 non-null  int64
 7   temp          12628 non-null  float64
 8   wind_speed    12628 non-null  float64
 9   preasure      12628 non-null  float64
 10  humidity      12628 non-null  float64
 11  soil          12628 non-null  object
 12  n             12628 non-null  float64
 13  p             12628 non-null  float64
 14  k             12628 non-null  float64
 15  production    12496 non-null  float64
dtypes: float64(8), int64(3), object(5)
memory usage: 1.5+ MB

In [10]:
df.isnull().sum()

          id      0
state             0
district          0
crop_year         0
season            0
crop_names        0
area              0
temp              0
wind_speed        0
preasure          0
humidity          0
soil              0
n                 0
p                 0
k                 0
production      132
dtype: int64

In [11]:
import matplotlib.pyplot as plt
import seaborn as sb

C_mat = df.corr()
fig = plt.figure(figsize = (20,15))

sb.heatmap(C_mat, vmax = .5, square = True)
plt.show()

ModuleNotFoundError: No module named 'seaborn'

In [12]:
df = df[df['crop_year']>=1985]
df

,id,state,district,crop_year,season,crop_names,area,temp,wind_speed,preasure,humidity,soil,n,p,k,production
0,125191,TamilNadu,Tirunelveli,1997,Autumn,Maize,1,20.770894,2.068260,1014.863796,21.947147,loamy,56.070,0.000,0.000,1113.0
1,125192,TamilNadu,Tirunelveli,1997,Kharif,Arhar/Tur,17600,20.160426,1.976480,1015.193528,20.643237,sandy,9.000,9.000,0.000,6300.0
2,125193,TamilNadu,Tirunelveli,1997,Kharif,Bajra,274100,21.998299,2.000524,1014.184607,21.422312,clay,0.000,0.000,0.000,152800.0
3,125194,TamilNadu,Tirunelveli,1997,Kharif,Gram,40800,21.776377,2.019750,1015.053118,21.810567,chalky,38.250,38.250,38.250,18600.0
4,125195,TamilNadu,Tirunelveli,1997,Kharif,Jowar,900,20.075734,1.974351,1015.170238,21.930206,clay,0.000,23.184,0.000,1100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,Tirupathur,2014,Rabi,Jowar,4000,21.635879,2.000060,1014.302213,20.060662,silty,7.840,7.840,0.000,3300.0
12624,137815,TamilNadu,Tirupathur,2014,Rabi,Maize,1300,21.709611,2.053609,1015.803912,21.263478,silt,7.504,18.760,7.504,200.0
12625,137816,TamilNadu,Tirupathur,2014,Rabi,Wheat,29100,21.851730,2.027476,1014.031903,20.059945,sandy,0.000,0.000,0.000,26800.0
12626,137817,TamilNadu,Tirupathur,2014,Summer,Groundnut,9400,21.569380,2.004421,1013.989125,21.835158,chalky,2.896,3.620,0.000,11500.0
12627,137818,TamilNadu,Tirupathur,2014,Whole Year,Sugarcane,8100,21.666723,2.008003,1015.081619,21.754799,loamy,3.150,0.000,0.000,553700.0

In [13]:
df

,id,state,district,crop_year,season,crop_names,area,temp,wind_speed,preasure,humidity,soil,n,p,k,production
0,125191,TamilNadu,Tirunelveli,1997,Autumn,Maize,1,20.770894,2.068260,1014.863796,21.947147,loamy,56.070,0.000,0.000,1113.0
1,125192,TamilNadu,Tirunelveli,1997,Kharif,Arhar/Tur,17600,20.160426,1.976480,1015.193528,20.643237,sandy,9.000,9.000,0.000,6300.0
2,125193,TamilNadu,Tirunelveli,1997,Kharif,Bajra,274100,21.998299,2.000524,1014.184607,21.422312,clay,0.000,0.000,0.000,152800.0
3,125194,TamilNadu,Tirunelveli,1997,Kharif,Gram,40800,21.776377,2.019750,1015.053118,21.810567,chalky,38.250,38.250,38.250,18600.0
4,125195,TamilNadu,Tirunelveli,1997,Kharif,Jowar,900,20.075734,1.974351,1015.170238,21.930206,clay,0.000,23.184,0.000,1100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,Tirupathur,2014,Rabi,Jowar,4000,21.635879,2.000060,1014.302213,20.060662,silty,7.840,7.840,0.000,3300.0
12624,137815,TamilNadu,Tirupathur,2014,Rabi,Maize,1300,21.709611,2.053609,1015.803912,21.263478,silt,7.504,18.760,7.504,200.0
12625,137816,TamilNadu,Tirupathur,2014,Rabi,Wheat,29100,21.851730,2.027476,1014.031903,20.059945,sandy,0.000,0.000,0.000,26800.0
12626,137817,TamilNadu,Tirupathur,2014,Summer,Groundnut,9400,21.569380,2.004421,1013.989125,21.835158,chalky,2.896,3.620,0.000,11500.0
12627,137818,TamilNadu,Tirupathur,2014,Whole Year,Sugarcane,8100,21.666723,2.008003,1015.081619,21.754799,loamy,3.150,0.000,0.000,553700.0

In [14]:
df = df.join(pd.get_dummies(df['district']))
df = df.join(pd.get_dummies(df['season']))
df = df.join(pd.get_dummies(df['crop_names'])) 
df = df.join(pd.get_dummies(df['state'])) 
df = df.join(pd.get_dummies(df['soil '])) 
df

,id,state,district,crop_year,season,crop_names,area,temp,wind_speed,preasure,...,Wheat,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty
0,125191,TamilNadu,Tirunelveli,1997,Autumn,Maize,1,20.770894,2.068260,1014.863796,...,0,0,1,0,0,1,0,0,0,0
1,125192,TamilNadu,Tirunelveli,1997,Kharif,Arhar/Tur,17600,20.160426,1.976480,1015.193528,...,0,0,1,0,0,0,0,1,0,0
2,125193,TamilNadu,Tirunelveli,1997,Kharif,Bajra,274100,21.998299,2.000524,1014.184607,...,0,0,1,0,1,0,0,0,0,0
3,125194,TamilNadu,Tirunelveli,1997,Kharif,Gram,40800,21.776377,2.019750,1015.053118,...,0,0,1,1,0,0,0,0,0,0
4,125195,TamilNadu,Tirunelveli,1997,Kharif,Jowar,900,20.075734,1.974351,1015.170238,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,Tirupathur,2014,Rabi,Jowar,4000,21.635879,2.000060,1014.302213,...,0,0,1,0,0,0,0,0,0,1
12624,137815,TamilNadu,Tirupathur,2014,Rabi,Maize,1300,21.709611,2.053609,1015.803912,...,0,0,1,0,0,0,0,0,1,0
12625,137816,TamilNadu,Tirupathur,2014,Rabi,Wheat,29100,21.851730,2.027476,1014.031903,...,1,0,1,0,0,0,0,1,0,0
12626,137817,TamilNadu,Tirupathur,2014,Summer,Groundnut,9400,21.569380,2.004421,1013.989125,...,0,0,1,1,0,0,0,0,0,0
12627,137818,TamilNadu,Tirupathur,2014,Whole Year,Sugarcane,8100,21.666723,2.008003,1015.081619,...,0,0,1,0,0,1,0,0,0,0

In [15]:
df['yield'] = df['production']/df['area']
df

,id,state,district,crop_year,season,crop_names,area,temp,wind_speed,preasure,...,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty,yield
0,125191,TamilNadu,Tirunelveli,1997,Autumn,Maize,1,20.770894,2.068260,1014.863796,...,0,1,0,0,1,0,0,0,0,1113.000000
1,125192,TamilNadu,Tirunelveli,1997,Kharif,Arhar/Tur,17600,20.160426,1.976480,1015.193528,...,0,1,0,0,0,0,1,0,0,0.357955
2,125193,TamilNadu,Tirunelveli,1997,Kharif,Bajra,274100,21.998299,2.000524,1014.184607,...,0,1,0,1,0,0,0,0,0,0.557461
3,125194,TamilNadu,Tirunelveli,1997,Kharif,Gram,40800,21.776377,2.019750,1015.053118,...,0,1,1,0,0,0,0,0,0,0.455882
4,125195,TamilNadu,Tirunelveli,1997,Kharif,Jowar,900,20.075734,1.974351,1015.170238,...,0,1,0,1,0,0,0,0,0,1.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,Tirupathur,2014,Rabi,Jowar,4000,21.635879,2.000060,1014.302213,...,0,1,0,0,0,0,0,0,1,0.825000
12624,137815,TamilNadu,Tirupathur,2014,Rabi,Maize,1300,21.709611,2.053609,1015.803912,...,0,1,0,0,0,0,0,1,0,0.153846
12625,137816,TamilNadu,Tirupathur,2014,Rabi,Wheat,29100,21.851730,2.027476,1014.031903,...,0,1,0,0,0,0,1,0,0,0.920962
12626,137817,TamilNadu,Tirupathur,2014,Summer,Groundnut,9400,21.569380,2.004421,1013.989125,...,0,1,1,0,0,0,0,0,0,1.223404
12627,137818,TamilNadu,Tirupathur,2014,Whole Year,Sugarcane,8100,21.666723,2.008003,1015.081619,...,0,1,0,0,1,0,0,0,0,68.358025

In [16]:
df.columns

Index(['          id', 'state', 'district', 'crop_year', 'season',
       'crop_names', 'area', 'temp', 'wind_speed', 'preasure', 'humidity',
       'soil ', 'n ', 'p', 'k', 'production', 'Ariyalur', 'Chengalpattu',
       'Chennai', 'Coimbatore', 'Cuddalore', 'Dindigul', 'Erode',
       'Kallakurichi', 'KancheepuramA', 'Karur', 'Kovilpatti', 'Krishnagiri',
       'Madurai', 'Mayiladuthurai', 'Nagapattinam', 'Nagercoil', 'NamakkalI',
       'Perambalur', 'Pudukottai', 'Ranipet', 'Salem', 'Sivagangai', 'Tenkasi',
       'Thanjavur', 'Theni', 'Tirchy', 'Tirunelveli', 'Tirupathur', 'Tiruppur',
       'Tiruvannamalai', 'Tuticorin', 'Vellore', 'Villupuram', 'Virudhunagar',
       'Autumn     ', 'Kharif     ', 'Rabi       ', 'Summer     ',
       'Whole Year ', 'Arhar/Tur', 'Bajra', 'Banana', 'Castor seed',
       'Cotton(lint)', 'Gram', 'Grapes', 'Groundnut', 'Jowar', 'Linseed',
       'Maize', 'Mango', 'Moong(Green Gram)', 'Niger seed', 'Onion',
       'Other  Rabi pulses', 'Other Cereals & Millets', 'Other Kharif pulses',
       'Pulses total', 'Ragi', 'Rapeseed &Mustard', 'Rice', 'Safflower',
       'Sesamum', 'Small millets', 'Soyabean', 'Sugarcane', 'Sunflower',
       'Tobacco', 'Tomato', 'Total foodgrain', 'Urad', 'Wheat',
       'other oilseeds', 'TamilNadu', 'chalky', 'clay', 'loamy', 'peaty',
       'sandy', 'silt', 'silty', 'yield'],
      dtype='object')

In [17]:
df = df.drop('production', axis=1)
df

,id,state,district,crop_year,season,crop_names,area,temp,wind_speed,preasure,...,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty,yield
0,125191,TamilNadu,Tirunelveli,1997,Autumn,Maize,1,20.770894,2.068260,1014.863796,...,0,1,0,0,1,0,0,0,0,1113.000000
1,125192,TamilNadu,Tirunelveli,1997,Kharif,Arhar/Tur,17600,20.160426,1.976480,1015.193528,...,0,1,0,0,0,0,1,0,0,0.357955
2,125193,TamilNadu,Tirunelveli,1997,Kharif,Bajra,274100,21.998299,2.000524,1014.184607,...,0,1,0,1,0,0,0,0,0,0.557461
3,125194,TamilNadu,Tirunelveli,1997,Kharif,Gram,40800,21.776377,2.019750,1015.053118,...,0,1,1,0,0,0,0,0,0,0.455882
4,125195,TamilNadu,Tirunelveli,1997,Kharif,Jowar,900,20.075734,1.974351,1015.170238,...,0,1,0,1,0,0,0,0,0,1.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,Tirupathur,2014,Rabi,Jowar,4000,21.635879,2.000060,1014.302213,...,0,1,0,0,0,0,0,0,1,0.825000
12624,137815,TamilNadu,Tirupathur,2014,Rabi,Maize,1300,21.709611,2.053609,1015.803912,...,0,1,0,0,0,0,0,1,0,0.153846
12625,137816,TamilNadu,Tirupathur,2014,Rabi,Wheat,29100,21.851730,2.027476,1014.031903,...,0,1,0,0,0,0,1,0,0,0.920962
12626,137817,TamilNadu,Tirupathur,2014,Summer,Groundnut,9400,21.569380,2.004421,1013.989125,...,0,1,1,0,0,0,0,0,0,1.223404
12627,137818,TamilNadu,Tirupathur,2014,Whole Year,Sugarcane,8100,21.666723,2.008003,1015.081619,...,0,1,0,0,1,0,0,0,0,68.358025

In [18]:
df = df.drop('season', axis=1)
df

,id,state,district,crop_year,crop_names,area,temp,wind_speed,preasure,humidity,...,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty,yield
0,125191,TamilNadu,Tirunelveli,1997,Maize,1,20.770894,2.068260,1014.863796,21.947147,...,0,1,0,0,1,0,0,0,0,1113.000000
1,125192,TamilNadu,Tirunelveli,1997,Arhar/Tur,17600,20.160426,1.976480,1015.193528,20.643237,...,0,1,0,0,0,0,1,0,0,0.357955
2,125193,TamilNadu,Tirunelveli,1997,Bajra,274100,21.998299,2.000524,1014.184607,21.422312,...,0,1,0,1,0,0,0,0,0,0.557461
3,125194,TamilNadu,Tirunelveli,1997,Gram,40800,21.776377,2.019750,1015.053118,21.810567,...,0,1,1,0,0,0,0,0,0,0.455882
4,125195,TamilNadu,Tirunelveli,1997,Jowar,900,20.075734,1.974351,1015.170238,21.930206,...,0,1,0,1,0,0,0,0,0,1.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,Tirupathur,2014,Jowar,4000,21.635879,2.000060,1014.302213,20.060662,...,0,1,0,0,0,0,0,0,1,0.825000
12624,137815,TamilNadu,Tirupathur,2014,Maize,1300,21.709611,2.053609,1015.803912,21.263478,...,0,1,0,0,0,0,0,1,0,0.153846
12625,137816,TamilNadu,Tirupathur,2014,Wheat,29100,21.851730,2.027476,1014.031903,20.059945,...,0,1,0,0,0,0,1,0,0,0.920962
12626,137817,TamilNadu,Tirupathur,2014,Groundnut,9400,21.569380,2.004421,1013.989125,21.835158,...,0,1,1,0,0,0,0,0,0,1.223404
12627,137818,TamilNadu,Tirupathur,2014,Sugarcane,8100,21.666723,2.008003,1015.081619,21.754799,...,0,1,0,0,1,0,0,0,0,68.358025

In [19]:
df= df.drop('district', axis=1)
df

,id,state,crop_year,crop_names,area,temp,wind_speed,preasure,humidity,soil,...,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty,yield
0,125191,TamilNadu,1997,Maize,1,20.770894,2.068260,1014.863796,21.947147,loamy,...,0,1,0,0,1,0,0,0,0,1113.000000
1,125192,TamilNadu,1997,Arhar/Tur,17600,20.160426,1.976480,1015.193528,20.643237,sandy,...,0,1,0,0,0,0,1,0,0,0.357955
2,125193,TamilNadu,1997,Bajra,274100,21.998299,2.000524,1014.184607,21.422312,clay,...,0,1,0,1,0,0,0,0,0,0.557461
3,125194,TamilNadu,1997,Gram,40800,21.776377,2.019750,1015.053118,21.810567,chalky,...,0,1,1,0,0,0,0,0,0,0.455882
4,125195,TamilNadu,1997,Jowar,900,20.075734,1.974351,1015.170238,21.930206,clay,...,0,1,0,1,0,0,0,0,0,1.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,2014,Jowar,4000,21.635879,2.000060,1014.302213,20.060662,silty,...,0,1,0,0,0,0,0,0,1,0.825000
12624,137815,TamilNadu,2014,Maize,1300,21.709611,2.053609,1015.803912,21.263478,silt,...,0,1,0,0,0,0,0,1,0,0.153846
12625,137816,TamilNadu,2014,Wheat,29100,21.851730,2.027476,1014.031903,20.059945,sandy,...,0,1,0,0,0,0,1,0,0,0.920962
12626,137817,TamilNadu,2014,Groundnut,9400,21.569380,2.004421,1013.989125,21.835158,chalky,...,0,1,1,0,0,0,0,0,0,1.223404
12627,137818,TamilNadu,2014,Sugarcane,8100,21.666723,2.008003,1015.081619,21.754799,loamy,...,0,1,0,0,1,0,0,0,0,68.358025

In [20]:
df= df.drop('crop_names', axis=1)
df

,id,state,crop_year,area,temp,wind_speed,preasure,humidity,soil,n,...,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty,yield
0,125191,TamilNadu,1997,1,20.770894,2.068260,1014.863796,21.947147,loamy,56.070,...,0,1,0,0,1,0,0,0,0,1113.000000
1,125192,TamilNadu,1997,17600,20.160426,1.976480,1015.193528,20.643237,sandy,9.000,...,0,1,0,0,0,0,1,0,0,0.357955
2,125193,TamilNadu,1997,274100,21.998299,2.000524,1014.184607,21.422312,clay,0.000,...,0,1,0,1,0,0,0,0,0,0.557461
3,125194,TamilNadu,1997,40800,21.776377,2.019750,1015.053118,21.810567,chalky,38.250,...,0,1,1,0,0,0,0,0,0,0.455882
4,125195,TamilNadu,1997,900,20.075734,1.974351,1015.170238,21.930206,clay,0.000,...,0,1,0,1,0,0,0,0,0,1.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,TamilNadu,2014,4000,21.635879,2.000060,1014.302213,20.060662,silty,7.840,...,0,1,0,0,0,0,0,0,1,0.825000
12624,137815,TamilNadu,2014,1300,21.709611,2.053609,1015.803912,21.263478,silt,7.504,...,0,1,0,0,0,0,0,1,0,0.153846
12625,137816,TamilNadu,2014,29100,21.851730,2.027476,1014.031903,20.059945,sandy,0.000,...,0,1,0,0,0,0,1,0,0,0.920962
12626,137817,TamilNadu,2014,9400,21.569380,2.004421,1013.989125,21.835158,chalky,2.896,...,0,1,1,0,0,0,0,0,0,1.223404
12627,137818,TamilNadu,2014,8100,21.666723,2.008003,1015.081619,21.754799,loamy,3.150,...,0,1,0,0,1,0,0,0,0,68.358025

In [21]:
df= df.drop('state', axis=1)
df

,id,crop_year,area,temp,wind_speed,preasure,humidity,soil,n,p,...,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty,yield
0,125191,1997,1,20.770894,2.068260,1014.863796,21.947147,loamy,56.070,0.000,...,0,1,0,0,1,0,0,0,0,1113.000000
1,125192,1997,17600,20.160426,1.976480,1015.193528,20.643237,sandy,9.000,9.000,...,0,1,0,0,0,0,1,0,0,0.357955
2,125193,1997,274100,21.998299,2.000524,1014.184607,21.422312,clay,0.000,0.000,...,0,1,0,1,0,0,0,0,0,0.557461
3,125194,1997,40800,21.776377,2.019750,1015.053118,21.810567,chalky,38.250,38.250,...,0,1,1,0,0,0,0,0,0,0.455882
4,125195,1997,900,20.075734,1.974351,1015.170238,21.930206,clay,0.000,23.184,...,0,1,0,1,0,0,0,0,0,1.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,2014,4000,21.635879,2.000060,1014.302213,20.060662,silty,7.840,7.840,...,0,1,0,0,0,0,0,0,1,0.825000
12624,137815,2014,1300,21.709611,2.053609,1015.803912,21.263478,silt,7.504,18.760,...,0,1,0,0,0,0,0,1,0,0.153846
12625,137816,2014,29100,21.851730,2.027476,1014.031903,20.059945,sandy,0.000,0.000,...,0,1,0,0,0,0,1,0,0,0.920962
12626,137817,2014,9400,21.569380,2.004421,1013.989125,21.835158,chalky,2.896,3.620,...,0,1,1,0,0,0,0,0,0,1.223404
12627,137818,2014,8100,21.666723,2.008003,1015.081619,21.754799,loamy,3.150,0.000,...,0,1,0,0,1,0,0,0,0,68.358025

In [22]:
df= df.drop('soil ',axis=1)
df

,id,crop_year,area,temp,wind_speed,preasure,humidity,n,p,k,...,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty,yield
0,125191,1997,1,20.770894,2.068260,1014.863796,21.947147,56.070,0.000,0.000,...,0,1,0,0,1,0,0,0,0,1113.000000
1,125192,1997,17600,20.160426,1.976480,1015.193528,20.643237,9.000,9.000,0.000,...,0,1,0,0,0,0,1,0,0,0.357955
2,125193,1997,274100,21.998299,2.000524,1014.184607,21.422312,0.000,0.000,0.000,...,0,1,0,1,0,0,0,0,0,0.557461
3,125194,1997,40800,21.776377,2.019750,1015.053118,21.810567,38.250,38.250,38.250,...,0,1,1,0,0,0,0,0,0,0.455882
4,125195,1997,900,20.075734,1.974351,1015.170238,21.930206,0.000,23.184,0.000,...,0,1,0,1,0,0,0,0,0,1.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,2014,4000,21.635879,2.000060,1014.302213,20.060662,7.840,7.840,0.000,...,0,1,0,0,0,0,0,0,1,0.825000
12624,137815,2014,1300,21.709611,2.053609,1015.803912,21.263478,7.504,18.760,7.504,...,0,1,0,0,0,0,0,1,0,0.153846
12625,137816,2014,29100,21.851730,2.027476,1014.031903,20.059945,0.000,0.000,0.000,...,0,1,0,0,0,0,1,0,0,0.920962
12626,137817,2014,9400,21.569380,2.004421,1013.989125,21.835158,2.896,3.620,0.000,...,0,1,1,0,0,0,0,0,0,1.223404
12627,137818,2014,8100,21.666723,2.008003,1015.081619,21.754799,3.150,0.000,0.000,...,0,1,0,0,1,0,0,0,0,68.358025

In [23]:
from sklearn import preprocessing

In [24]:
a = df[['area']].values.astype(float)
a
min_max_scaler = preprocessing.MinMaxScaler()
a_scaled = min_max_scaler.fit_transform(a)
a_scaled

df['area'] = a_scaled
df

,id,crop_year,area,temp,wind_speed,preasure,humidity,n,p,k,...,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty,yield
0,125191,1997,0.000000,20.770894,2.068260,1014.863796,21.947147,56.070,0.000,0.000,...,0,1,0,0,1,0,0,0,0,1113.000000
1,125192,1997,0.024231,20.160426,1.976480,1015.193528,20.643237,9.000,9.000,0.000,...,0,1,0,0,0,0,1,0,0,0.357955
2,125193,1997,0.377391,21.998299,2.000524,1014.184607,21.422312,0.000,0.000,0.000,...,0,1,0,1,0,0,0,0,0,0.557461
3,125194,1997,0.056174,21.776377,2.019750,1015.053118,21.810567,38.250,38.250,38.250,...,0,1,1,0,0,0,0,0,0,0.455882
4,125195,1997,0.001238,20.075734,1.974351,1015.170238,21.930206,0.000,23.184,0.000,...,0,1,0,1,0,0,0,0,0,1.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,2014,0.005506,21.635879,2.000060,1014.302213,20.060662,7.840,7.840,0.000,...,0,1,0,0,0,0,0,0,1,0.825000
12624,137815,2014,0.001789,21.709611,2.053609,1015.803912,21.263478,7.504,18.760,7.504,...,0,1,0,0,0,0,0,1,0,0.153846
12625,137816,2014,0.040065,21.851730,2.027476,1014.031903,20.059945,0.000,0.000,0.000,...,0,1,0,0,0,0,1,0,0,0.920962
12626,137817,2014,0.012941,21.569380,2.004421,1013.989125,21.835158,2.896,3.620,0.000,...,0,1,1,0,0,0,0,0,0,1.223404
12627,137818,2014,0.011151,21.666723,2.008003,1015.081619,21.754799,3.150,0.000,0.000,...,0,1,0,0,1,0,0,0,0,68.358025

In [25]:
df = df.fillna(df.mean())

In [26]:
from sklearn.model_selection import train_test_split
x=df
y=df['yield']
x=x.drop('yield', axis=1)
x

,id,crop_year,area,temp,wind_speed,preasure,humidity,n,p,k,...,Wheat,other oilseeds,TamilNadu,chalky,clay,loamy,peaty,sandy,silt,silty
0,125191,1997,0.000000,20.770894,2.068260,1014.863796,21.947147,56.070,0.000,0.000,...,0,0,1,0,0,1,0,0,0,0
1,125192,1997,0.024231,20.160426,1.976480,1015.193528,20.643237,9.000,9.000,0.000,...,0,0,1,0,0,0,0,1,0,0
2,125193,1997,0.377391,21.998299,2.000524,1014.184607,21.422312,0.000,0.000,0.000,...,0,0,1,0,1,0,0,0,0,0
3,125194,1997,0.056174,21.776377,2.019750,1015.053118,21.810567,38.250,38.250,38.250,...,0,0,1,1,0,0,0,0,0,0
4,125195,1997,0.001238,20.075734,1.974351,1015.170238,21.930206,0.000,23.184,0.000,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,2014,0.005506,21.635879,2.000060,1014.302213,20.060662,7.840,7.840,0.000,...,0,0,1,0,0,0,0,0,0,1
12624,137815,2014,0.001789,21.709611,2.053609,1015.803912,21.263478,7.504,18.760,7.504,...,0,0,1,0,0,0,0,0,1,0
12625,137816,2014,0.040065,21.851730,2.027476,1014.031903,20.059945,0.000,0.000,0.000,...,1,0,1,0,0,0,0,1,0,0
12626,137817,2014,0.012941,21.569380,2.004421,1013.989125,21.835158,2.896,3.620,0.000,...,0,0,1,1,0,0,0,0,0,0
12627,137818,2014,0.011151,21.666723,2.008003,1015.081619,21.754799,3.150,0.000,0.000,...,0,0,1,0,0,1,0,0,0,0

In [27]:
y

0        1113.000000
1           0.357955
2           0.557461
3           0.455882
4           1.222222
            ...
12623       0.825000
12624       0.153846
12625       0.920962
12626       1.223404
12627      68.358025
Name: yield, Length: 12628, dtype: float64

In [28]:
len(x.columns)

91

In [29]:
x.columns

Index(['          id', 'crop_year', 'area', 'temp', 'wind_speed', 'preasure',
       'humidity', 'n ', 'p', 'k', 'Ariyalur', 'Chengalpattu', 'Chennai',
       'Coimbatore', 'Cuddalore', 'Dindigul', 'Erode', 'Kallakurichi',
       'KancheepuramA', 'Karur', 'Kovilpatti', 'Krishnagiri', 'Madurai',
       'Mayiladuthurai', 'Nagapattinam', 'Nagercoil', 'NamakkalI',
       'Perambalur', 'Pudukottai', 'Ranipet', 'Salem', 'Sivagangai', 'Tenkasi',
       'Thanjavur', 'Theni', 'Tirchy', 'Tirunelveli', 'Tirupathur', 'Tiruppur',
       'Tiruvannamalai', 'Tuticorin', 'Vellore', 'Villupuram', 'Virudhunagar',
       'Autumn     ', 'Kharif     ', 'Rabi       ', 'Summer     ',
       'Whole Year ', 'Arhar/Tur', 'Bajra', 'Banana', 'Castor seed',
       'Cotton(lint)', 'Gram', 'Grapes', 'Groundnut', 'Jowar', 'Linseed',
       'Maize', 'Mango', 'Moong(Green Gram)', 'Niger seed', 'Onion',
       'Other  Rabi pulses', 'Other Cereals & Millets', 'Other Kharif pulses',
       'Pulses total', 'Ragi', 'Rapeseed &Mustard', 'Rice', 'Safflower',
       'Sesamum', 'Small millets', 'Soyabean', 'Sugarcane', 'Sunflower',
       'Tobacco', 'Tomato', 'Total foodgrain', 'Urad', 'Wheat',
       'other oilseeds', 'TamilNadu', 'chalky', 'clay', 'loamy', 'peaty',
       'sandy', 'silt', 'silty'],
      dtype='object')

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
print(x_train)

                 id  crop_year      area       temp  wind_speed     preasure  \
2058         127249       2011  0.234613  20.866909    1.999203  1014.380555
4864         130055       2013  0.010050  21.136535    2.084811  1013.695425
3886         129077       1999  0.005506  20.331101    2.079280  1013.105747
4884         130075       2014  0.004680  21.547456    2.082293  1014.665835
8950         134141       2001  0.010050  22.026723    2.075330  1015.067096
...             ...        ...       ...        ...         ...          ...
11964        137155       1999  0.052456  21.809809    2.059076  1013.968994
5191         130382       2008  0.010738  21.191051    2.026172  1014.252245
5390         130581       1999  0.004542  21.145875    2.055900  1015.765258
860          126051       1997  0.000274  20.024885    2.050997  1014.041425
7270         132461       2007  0.000388  21.888698    2.108731  1014.505541

        humidity      n        p       k  ...  Wheat  other oilseeds  \
2058   21.974198  22.572  60.192  30.096  ...      0               0
4864   21.413483   2.484   2.484   0.000  ...      0               0
3886   21.314129   0.000  28.048   0.000  ...      0               0
4884   21.146179  71.064   0.000   0.000  ...      0               0
8950   20.778909   0.000   0.000   0.000  ...      0               0
...          ...     ...     ...     ...  ...    ...             ...
11964  21.121369  40.908   0.000   0.000  ...      0               0
5191   20.105797   4.530  11.778  11.778  ...      0               0
5390   21.658840   0.000   0.000   0.000  ...      0               0
860    20.580425   8.460   8.460   0.000  ...      0               0
7270   20.462343  32.508  83.076   0.000  ...      0               0

       TamilNadu  chalky  clay  loamy  peaty  sandy  silt  silty
2058           1       0     0      0      0      0     1      0
4864           1       0     0      0      1      0     0      0
3886           1       0     0      0      1      0     0      0
4884           1       1     0      0      0      0     0      0
8950           1       0     0      0      0      0     1      0
...          ...     ...   ...    ...    ...    ...   ...    ...
11964          1       0     0      0      0      0     0      1
5191           1       0     0      0      1      0     0      0
5390           1       0     1      0      0      0     0      0
860            1       1     0      0      0      0     0      0
7270           1       1     0      0      0      0     0      0

[8839 rows x 91 columns]

In [31]:
print(x_test)

                 id  crop_year      area       temp  wind_speed     preasure  \
8862         134053       1998  0.000549  21.910842    2.020406  1013.585145
6880         132071       2007  0.000106  20.296452    2.058199  1014.541753
8649         133840       2007  0.000018  21.589671    2.080747  1015.381359
5035         130226       2002  0.005781  21.095906    2.060450  1015.400569
2464         127655       1998  0.003716  20.098369    2.073911  1013.169012
...             ...        ...       ...        ...         ...          ...
3523         128714       2012  0.003028  20.225335    1.973850  1014.915445
4974         130165       2000  0.001238  20.114167    2.073394  1013.693928
12092        137283       2004  0.000136  21.309898    2.086531  1014.842881
4110         129301       2014  0.017622  21.253224    2.027891  1014.688217
3400         128591       2006  0.005644  21.570262    2.100486  1014.381128

        humidity       n        p      k  ...  Wheat  other oilseeds  \
8862   21.379657    8.740   8.740   0.00  ...      0               0
6880   21.388270    7.588   7.588   0.00  ...      0               0
8649   20.284239    2.288   2.860   0.00  ...      0               0
5035   21.629478    0.000   0.000   0.00  ...      0               0
2464   20.345290  901.370   0.000   0.00  ...      0               0
...          ...      ...     ...    ...  ...    ...             ...
3523   21.471664    7.840   7.840   0.00  ...      0               0
4974   21.199946    2.288   2.860   0.00  ...      0               0
12092  21.025302    8.220   8.220   0.00  ...      0               0
4110   20.540907    5.300  13.780  13.78  ...      0               0
3400   21.759319    2.100   0.000   0.00  ...      0               0

       TamilNadu  chalky  clay  loamy  peaty  sandy  silt  silty
8862           1       0     1      0      0      0     0      0
6880           1       0     0      0      0      0     1      0
8649           1       0     0      1      0      0     0      0
5035           1       0     1      0      0      0     0      0
2464           1       0     1      0      0      0     0      0
...          ...     ...   ...    ...    ...    ...   ...    ...
3523           1       0     0      0      0      1     0      0
4974           1       0     0      0      0      1     0      0
12092          1       0     0      0      0      0     1      0
4110           1       0     0      1      0      0     0      0
3400           1       1     0      0      0      0     0      0

[3789 rows x 91 columns]

In [32]:
print(y_train)

2058     0.690728
4864     0.369863
3886     0.950000
4884     0.352941
8950     0.205479
           ...
11964    1.228346
5191     0.128205
5390     1.666667
860      0.500000
7270     1.265018
Name: yield, Length: 8839, dtype: float64

In [33]:
print(y_test)

8862     1.250000
6880     0.782051
8649     0.285714
5035     0.309524
2464     0.333333
           ...
3523     0.272727
4974     0.222222
12092    1.000000
4110     0.218750
3400     0.634146
Name: yield, Length: 3789, dtype: float64

In [34]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)

In [35]:
regr.fit(x_train, y_train)

RandomForestRegressor(max_depth=2, random_state=0)

In [36]:
from statistics import mean
y_pred = regr.predict(x_test)
from sklearn.metrics import r2_score
print('Prediction=', r2_score(y_pred, y_test))

Prediction= 0.8875714551182723

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
print(x_train)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)

In [ ]:
regr.fit(x_train, y_train)

In [ ]:
from statistics import mean
y_pred = regr.predict(x_test)
from sklearn.metrics import r2_score
print('Prediction=', r2_score(y_pred, y_test))